body {
  margin: 0;
  background: #89c3eb;
}
header{
  width: 91%;
  top: 0px;
  background-color: #eec362;
  font-weight: bold;
  border: solid 3px #000000;
  position: absolute;
  z-index: 20;
}

header a {
  display: inline-block;
  float: left;
  padding: 12px 12px 12px 12px;
  font-family: "游ゴシック/游ゴシック体";
  font-size: 18px;
  color: #FFFFFF;
  text-decoration: none;
}
header a:hover{
  background-color: #98d98e;
}
.center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  line-height: 8;
}
.string {
   font-family: "游ゴシック/游ゴシック体";
  font-size: 80px;
  color: #FFFFFF;
}
.z-index_box1{
  content:"";
  width:34%;
  height: 30%;
  right: 0%;
  background-color: #FFF;
  font-weight: bold;
  border: solid 3px #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 15;
}
.z-index_box2{
  content:"";
  width: 5%;
  height: 30%;
  right: 32%;
  background-color: #FFFF00;
  font-weight: bold;
  border: solid 3px #000000;
  position: absolute;
  top: 15%;
  bottom: 50%;
  z-index: 10;
}
.z-index_box3{
  content:"";
  width: 4%;
  height: 25%;
  right: 20%;
  background-color: #eec362;
  font-weight: bold;
  border: solid 3px #000000;
  position: absolute;
  top: 15%;
  bottom: 50%;
  z-index: 10;
}
.z-index_box4{
  content:"";
  width: 3%;
  height: 65%;
  right: 7%;
  background-color: #FFFF00;
  font-weight: bold;
  border: solid 3px #000000;
  position: absolute;
  top: 15%;
  bottom: 50%;
  z-index: 10;
}
.z-index_box5{
  content:"";
  width: 25%;
  height: 9%;
  left: 0%;
  background-color: #FFF;
  font-weight: bold;
  border: solid 3px #000000;
  position: absolute;
  bottom: 10%;
  z-index: 20;
}
.z-index_box6{
  content:"";
  width: 11%;
  height: 16%;
  left: 19%;
  background-color: #FFFF00;
  font-weight: bold;
  border: solid 3px #000000;
  position: absolute;
  bottom: 10%;
  z-index: 15;
}
